@keyframes header-slidein-left {
  0% {
    left: 100%;
    opacity: 0;
  }

  100% {
    left: 50%;
    opacity: 1;
  }
}

@keyframes header-slidein-left-sm {
  0% {
    left: 100%;
    opacity: 0;
  }

  100% {
    left: 30%;
    opacity: 1;
  }
}
