*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond(large) {
    font-size: 55%;
  }

  @include respond(medium) {
    font-size: 50%;
  }

  @include respond(tiny) {
    font-size: 40%;
  }
}

body {
  line-height: 1.6;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
